Repository albgomceb/Drafter, pull requests merged in 2018-05, with the labels that each got.

#79 Sprint3/6 hats
  back-end/src/main/java/drafter/beans/sixHats/SixHatsBean.java
  back-end/src/main/java/drafter/beans/sixHats/SixHatsSerializer.java
  back-end/src/main/java/drafter/controllers/SixHatsController.java
  back-end/src/main/java/drafter/domain/SixHats.java
  back-end/src/main/java/drafter/services/SixHatsService.java
  back-end/src/main/resources/PopulateDatabase.xml
  front-end/src/app/componentes/list-organization-department-page/list-organization-department-page.component.ts
  front-end/src/app/componentes/meetings/six-hats/six-hats-meeting/six-hats-meeting.component.html
  front-end/src/app/componentes/meetings/six-hats/six-hats-meeting/six-hats-meeting.component.ts
  front-end/src/app/componentes/models/sixHats.model.ts
Labels: Back-End, Front-End, High

#84 Sprint3/6 hats
  back-end/src/main/java/drafter/controllers/MeetingController.java
  back-end/src/main/java/drafter/repositories/MeetingRepository.java
  back-end/src/main/java/drafter/services/MeetingService.java
  front-end/src/app/componentes/meetings/six-hats/six-hats-meeting/six-hats-meeting.component.ts
  front-end/src/app/componentes/meetings/six-hats/six-hats-minutes-page/six-hats-minutes-page.component.html
  front-end/src/app/componentes/meetings/six-hats/six-hats-minutes-page/six-hats-minutes-page.component.ts
  front-end/src/app/componentes/services/meeting.service.ts
Labels: Back-End, Front-End, High

#89 Actualizacion Populate
  back-end/src/main/resources/PopulateDatabase.xml
  front-end/src/assets/img/avatar/avatar-1.jpeg
  front-end/src/assets/img/avatar/avatar-2.jpeg
  front-end/src/assets/img/avatar/avatar-3.jpg
  front-end/src/assets/img/avatar/avatar-4.jpeg
  front-end/src/assets/img/avatar/avatar-5.jpeg
  front-end/src/assets/img/avatar/avatar-6.jpeg
  front-end/src/assets/img/avatar/avatar-7.jpeg
  front-end/src/assets/img/avatar/avatar-8.jpeg
Labels: Back-End, Medium

#96 Sprint3/6 hats
  back-end/src/main/java/drafter/beans/sixHats/SixHatsBean.java
  back-end/src/main/java/drafter/beans/sixHats/SixHatsSerializer.java
  back-end/src/main/java/drafter/controllers/MeetingController.java
  back-end/src/main/java/drafter/controllers/SixHatsController.java
  back-end/src/main/java/drafter/domain/SixHats.java
  back-end/src/main/java/drafter/services/SixHatsService.java
  front-end/src/app/componentes/meetings/six-hats/six-hats-meeting/six-hats-meeting.component.ts
  front-end/src/app/componentes/meetings/six-hats/six-hats-minutes-page/six-hats-minutes-page.component.html
  front-end/src/app/componentes/meetings/six-hats/six-hats-minutes-page/six-hats-minutes-page.component.ts
  front-end/src/app/componentes/models/sixHats.model.ts
Labels: Back-End, Front-End, High

#97 Sprint3/notifications
  back-end/src/main/java/drafter/QueryDatabase.java
  back-end/src/main/java/drafter/beans/idea/IdeaBean.java
  back-end/src/main/java/drafter/beans/idea/IdeaSerializer.java
  back-end/src/main/java/drafter/beans/meeting/MeetingBean.java
  back-end/src/main/java/drafter/beans/vote/VoteBean.java
  back-end/src/main/java/drafter/beans/vote/VoteSerializer.java
  back-end/src/main/java/drafter/controllers/IdeaController.java
  back-end/src/main/java/drafter/controllers/MeetingController.java
  back-end/src/main/java/drafter/controllers/VoteController.java
  back-end/src/main/java/drafter/domain/BrainStorming.java
  back-end/src/main/java/drafter/domain/Idea.java
  back-end/src/main/java/drafter/domain/Participant.java
  back-end/src/main/java/drafter/repositories/BrainStormingRepository.java
  back-end/src/main/java/drafter/repositories/IdeaRepository.java
  back-end/src/main/java/drafter/repositories/MeetingRepository.java
  back-end/src/main/java/drafter/repositories/UserRepository.java
  back-end/src/main/java/drafter/services/BrainStormingService.java
  back-end/src/main/java/drafter/services/MeetingService.java
  back-end/src/main/java/drafter/services/UserService.java
  back-end/src/main/resources/PopulateDatabase.xml
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.module.ts
  front-end/src/app/componentes/meetings/brainstorming/ideas-create/ideas-create.component.ts
  front-end/src/app/componentes/meetings/dynamic-meeting/dynamic-meeting.component.ts
  front-end/src/app/componentes/meetings/six-hats/six-hats-meeting/six-hats-meeting.component.ts
  front-end/src/app/componentes/models/meeting.model.ts
  front-end/src/app/componentes/navbar/navbar.component.html
  front-end/src/app/componentes/navbar/navbar.component.ts
  front-end/src/app/componentes/notifications-page/notifications-page.component.html
  front-end/src/app/componentes/notifications-page/notifications-page.component.scss
  front-end/src/app/componentes/notifications-page/notifications-page.component.spec.ts
  front-end/src/app/componentes/notifications-page/notifications-page.component.ts
  front-end/src/app/componentes/services/meeting.service.ts
  front-end/src/app/constants/configuration.ts
Labels: Back-End, Front-End, High

#106 preparingproject/bugfix/loginnullpointer
  back-end/src/main/java/drafter/security/LoginService.java
  front-end/package-lock.json
Labels: bug

#109 preparingproject/bugfix/urlauthorizationcontrol
  front-end/src/app/app-routing.module.ts
  front-end/src/app/componentes/login-page/login-page.component.ts
  front-end/src/app/security/auth.guard.ts
Labels: bug

#111 preparingproject/improvement/reportus
  front-end/src/app/componentes/footer/footer.component.html
  front-end/src/app/componentes/pricing/pricing.component.html
Labels: improvement

#112 sprint3/bugfix/alert-meeting
  front-end/src/app/componentes/meetings/dynamic-meeting/dynamic-meeting.component.html
  front-end/src/app/componentes/meetings/dynamic-meeting/dynamic-meeting.component.scss
  front-end/src/app/componentes/meetings/dynamic-meeting/dynamic-meeting.component.ts
Labels: bug

#118 Bugfixes/manu
  back-end/src/main/java/drafter/controllers/ProcedureMinutesController.java
  back-end/src/main/java/drafter/controllers/UserController.java
  back-end/src/main/java/drafter/repositories/IdeaRepository.java
  back-end/src/main/java/drafter/repositories/UserRepository.java
  back-end/src/main/java/drafter/services/IdeaService.java
  back-end/src/main/java/drafter/services/UserService.java
  front-end/src/app/componentes/meetings/brainstorming/idea-vote-page/idea-vote-page.component.html
  front-end/src/app/componentes/meetings/brainstorming/idea-vote-page/idea-vote-page.component.ts
  front-end/src/app/componentes/meetings/brainstorming/minutes-page/minutes-page.component.html
  front-end/src/app/componentes/meetings/brainstorming/minutes-page/minutes-page.component.ts
  front-end/src/app/componentes/register-page/register-page.component.html
  front-end/src/app/componentes/register-page/register-page.component.ts
  front-end/src/app/componentes/services/brainstorming.service.ts
Labels: Back-End, Front-End, bug
